<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.dostrike.perfectten.VO.HeadHunter" alias="HH" />
		<typeAlias type="com.dostrike.perfectten.VO.Person" alias="Person" />
		<typeAlias type="com.dostrike.perfectten.VO.Login" alias="Login" />
		<typeAlias type="com.dostrike.perfectten.VO.QnaBoard" alias="QnaBoard" />
		
	</typeAliases>
	<mappers>
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/hhMapper.xml" />
		<mapper resource="mapper/qnaMapper.xml" />
		
	</mappers>
</configuration>
