<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.dostrike.perfectten.DAO.resumeMapper">

	<insert id="insertResumeMain" parameterType="TotalResume">
	
	INSERT INTO RESUMEMAIN(
	
		RESUMESEQ
		, PERSONID
	
	)VALUES(
		
		#{resumeSeq}
		,#{personId}
	)
		
	</insert>


	<insert id="insertBasicInfo" parameterType="TotalResume">

		<selectKey keyProperty="resumeSeq" resultType="int"
			order="BEFORE">

			SELECT RESUMESEQ.NEXTVAL FROM DUAL

		</selectKey>

		INSERT INTO BASICINFO(

		BASICSEQ
		,RESUMESEQ
		,PERSONID
		,PERSONNAME
		,BIRTHDATE
		,GENDER
		,PERSONEMAIL
		,PERSONPHONE
		,PERSONADDR

		)VALUES(

		BASICSEQ.NEXTVAL
		,#{resumeSeq}
		,#{personId}
		,#{personName}
		,#{birthDate}
		,#{gender}
		,#{personEmail}
		,#{personPhone}
		,#{personAddr}

		)

	</insert>

	<insert id="insertAbility" parameterType="Ability">
		INSERT INTO ABILITY(
		
			ABILITYSEQ
			,RESUMESEQ
			,ABILITYTITLE
			,ABILITYSTATUS
			,ABILITYDETAILS
		
		)VALUES(
		
			ABILITYSEQ.NEXTVAL
			,#{resumeSeq}
			,#{abilityTitle}
			,#{abilityStatus}
			,#{abilityDetails}
			
			)
	</insert>
	
	<insert id="insertActivity" parameterType="Activity">
	
		INSERT INTO ACTIVITY(
		
			ACTIVITYSEQ
			,RESUMESEQ
			,ACTIVITYTITLE
			,ACTIVITYORG
			,ACTIVITYDETAILS		
		
		)VALUES(
			ACTIVITYSEQ.NEXTVAL
			,#{resumeSeq}
			,#{activityTitle}
			,#{activityOrg}
			,#{activityDetails}
			
		)

	</insert>

	<insert id="insertCertificate" parameterType="Certificate">
	
	INSERT INTO CERTI(
	
		CERTISEQ 
	    , RESUMESEQ 
	    , CERTINAME 
	    , CERTIORG 
	    , CERTIDATE
	    	
	)VALUES(
	
		CERTISEQ.NEXTVAL
		,#{resumeSeq}
		,#{certiTitle}
		,#{certiOrg}
		,#{certiDate}	
	
	)
	
	</insert>
	
	<insert id="insertLanguageScore" parameterType="LanguageScore">
	
	INSERT INTO LANGUAGESCORE(
	
		LANGUAGESEQ 
	    , RESUMESEQ 
	    , LANGUAGETYPE 
	    , LANGUAGETITLE 
	    , LANGUAGESCORE
	    , LANGUAGEORG
	    , LANGUAGEDATE 	
	
	)VALUES(
	
		LANGUAGESEQ.NEXTVAL 
	    , #{resumeSeq}
	    , #{languageType}
	    , #{languageTitle}
	    , #{languageScore}
	    , #{languageOrg}
	    , #{languageDate}
	
	)
	
	</insert>

	<insert id="insertCareer" parameterType="Career">
		
		INSERT INTO CAREER(
		
		    CAREERSEQ 
		    , RESUMESEQ 
		    , COMPANYNAME 
		    , CAREERCATEGORY 
		    , CAREERSTARTDATE 
		    , CAREERENDDATE 
		    , CAREERDEPARTMENT 
		    , CAREERPOSITION 
		    , CAREERREGION 
		    , CAREERSALARY
		    , CAREERTASK
		    , CAREERDETAILS
		
		)VALUES(
		
			CAREERSEQ.NEXTVAL
			,#{resumeSeq}
			,#{companyName}
			,#{careerCategory}
			,#{careerStartDate}
			,#{careerEndDate}
			,#{careerDepartment}
			,#{careerPosition}
			,#{careerRegion}
			,#{careerSalary}
			,#{careerTask}
			,#{careerDetails}
			
		)
	
	</insert>
	
	<select id="selectResumeSeq" parameterType="String" resultType="int">
	
	SELECT
		RESUMESEQ
	FROM
		RESUMEMAIN
	WHERE
		PERSONID=#{loginId}
	
	</select>

	<select id="selectBasicInfo" parameterType="int" resultType="BasicInfo">
	
	SELECT * FROM BASICINFO
	WHERE RESUMESEQ=#{resumeSeq}
	
	</select>

	<select id="selectCareer" parameterType="int" resultType="Career">
	
	SELECT * FROM CAREER
	WHERE RESUMESEQ=#{resumeSeq}
	
	</select>  
	
	<select id="selectCerti" parameterType="int" resultType="Certificate">
	
	SELECT * FROM CERTI
	WHERE RESUMESEQ=#{resumeSeq}
	
	</select>

	<select id="selectLanguage" parameterType="int" resultType="LanguageScore">
	
	SELECT * FROM LANGUAGESCORE
	WHERE RESUMESEQ=#{resumeSeq}
	
	</select>

	<select id="selectAbility" parameterType="int" resultType="Ability">
	
	SELECT * FROM Ability
	WHERE RESUMESEQ=#{resumeSeq}
	
	</select>
	
	<select id="selectActivity" parameterType="int" resultType="Activity">
	
	SELECT * FROM Activity
	WHERE RESUMESEQ=#{resumeSeq}
	
	</select>

</mapper>
