<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.sample.test.dao.qnaMapper">

<select id="personQList" resultType="QnaBoard">

	SELECT
		qBoardSeq,
		PERSONID,
		TITLE,
		CONTENTS,
		INDATE,
		COMMENTNUM
	FROM
		QNABOARD
	WHERE 
		PERSONID=#{personId}
	ORDER BY
		QBOARDSEQ DESC

</select>

<select id="countAllBoard" resultType="int">

SELECT 
	COUNT(*) 
FROM 
	QNABOARD

</select>

<select id="qList" resultType="QnaBoard">

	SELECT
		qBoardSeq,
		PERSONID,
		TITLE,
		CONTENTS,
		INDATE,
		COMMENTNUM
		
	FROM
		QNABOARD
	ORDER BY
		QBOARDSEQ DESC

</select>


<insert id="inputQna" parameterType="QnaBoard">
	
	INSERT INTO QNABOARD(

    QBOARDSEQ
    ,PERSONID
    ,TITLE
    ,CONTENTS
    ,INDATE
    ,COMMENTNUM

	)VALUES(

	QBOARDSEQ.NEXTVAL
	,#{personId}
	,#{title}
	,#{contents}
	,SYSDATE
	,0
	
	)

</insert>

<select id="selectQna" parameterType="int" resultType="hashmap">
	select
		board.qboardseq as qboardseq
		,board.personid as personid
		,board.title as title
		,board.contents as contents
		,TO_CHAR(board.indate, 'YYYY-MM-DD HH24:MI') as indate
		,cmt.commentseq as commentseq
		,cmt.hhname as hhname 
		,cmt.comments as comments
		,TO_CHAR(cmt.indate,'YYYY-MM-DD HH24:MI') as comdate
	from
		qnaboard board
	left join
		qnacomment cmt
	on
		board.qboardseq = cmt.qboardseq
	where
		board.qboardseq=#{qBoardSeq}
</select>

<select id="selectQnaBoard" parameterType="int" resultType="QnaBoard">

	SELECT
		*
	FROM
		QNABOARD
	WHERE
		QBOARDSEQ=#{qBoardSeq}

</select>

<update id="inputUpdate" parameterType="hashmap">

	UPDATE
		QNABOARD
	SET
		TITLE=#{title}
	,
		CONTENTS=#{contents}    
	WHERE
		QBOARDSEQ=#{qBoardSeq}

</update>

<delete id="deleteBoard" parameterType="int">

	DELETE
		FROM
	QNABOARD
		WHERE
	QBOARDSEQ=#{qBoardSeq}

</delete>

<insert id="insertComment" parameterType="QnaComment">

	INSERT INTO QNACOMMENT(
	
	    COMMENTSEQ 
	    , QBOARDSEQ  
	    , HHID
	    , HHNAME 
	    , COMMENTS 
	    , INDATE
	    , PARENTSEQ 
		
	)VALUES(
		COMMENTSEQ.NEXTVAL
		, #{qBoardSeq}
		, #{hhId}
		, #{hhName}
		, #{comments}
		, SYSDATE
		, 0
	
	)

</insert>

<update id="updateCommentNum" parameterType="int">

	UPDATE QNABOARD
		SET
    COMMENTNUM=COMMENTNUM+1
    	WHERE
    QBOARDSEQ=#{qBoardSeq}

</update>

<update id="deleteCommentNum" parameterType="int">

	UPDATE QNABOARD
		SET
    COMMENTNUM=COMMENTNUM-1
    	WHERE
    QBOARDSEQ=#{qBoardSeq}

</update>

<update id="updateComment" parameterType="QnaComment">

	UPDATE QNACOMMENT
		SET
	comments=#{comments}
		WHERE
	   commentSeq=#{commentSeq}


</update>

<delete id="deleteComment" parameterType="int">

	DELETE
		FROM
	QNACOMMENT
		WHERE
	commentSeq=#{commentSeq}

</delete>




</mapper>
